* {
    padding: 0;
    margin: 0;
}

#app-container{
    height: 100%;
    width: 100%;
}

#app-container.dark{
    background: -moz-linear-gradient(0deg, rgb(18,13,28) 0%, rgb(16,16,33) 100%);
    background: -webkit-linear-gradient(0deg, rgb(18,13,28) 0%, rgb(16,16,33) 100%);
    background: linear-gradient(0deg, rgb(18,13,28) 0%, rgb(16,16,33) 100%);
}

#app-container.light{
    background: -moz-linear-gradient(0deg, rgb(180,200,250) 0%, rgb(240,240,255) 100%);
    background: -webkit-linear-gradient(0deg, rgb(180,200,250) 0%, rgb(240,240,255) 100%);
    background: linear-gradient(0deg, rgb(180,200,250) 0%, rgb(240,240,255) 100%);
}



/**********************************************************************************************/
/******************** AJUSTES DE MEDIA QUIERIES PARA PC, TABLET Y CELULAR *********************/
/**********************************************************************************************/

/* SMALL PORTRAIT(VERTICAL) > MODEL 1 *********************************************************/
@media screen and (max-width: 480px) and (orientation: portrait){
    :root{
        --header-h: 8vh;
        --nav-h: 8vh;
        --main-h: calc(100vh - var(--header-h) - var(--nav-h));
    }
    #app-container{
        display: grid;
        box-sizing: border-box;
        grid-template-rows: var(--header-h) var(--nav-h) var(--main-h);
    }  
    header{
        background-color: red;
        border: 3px solid violet;
    }
    nav{
        background-color: green;
        border: 3px solid orange;
    }
    main{
        overflow-y: auto;
        background-color: blue;
        border: 3px solid gold;
        color: chartreuse;

    }
 
}

/* MEDIUM PORTRAIT(VERTICAL) > MODEL 2 ********************************************************/
@media screen and (min-width: 481px) and (orientation: portrait){
    :root{
        --header-h: 8vh;
        --nav-h: 8vh;
        --main-h: calc(100vh - var(--header-h) - var(--nav-h));
    }
    #app-container{
        display: grid;
        box-sizing: border-box;
        grid-template-rows: var(--header-h) var(--nav-h) var(--main-h);
    }      

}

/* SMALL LANDSCAPE(HORIZONTAL) > MODEL 3 ******************************************************/
@media screen and (max-height: 480px) and (orientation: landscape){
    :root{
        --header-h: 15vh;
        --header-w: 33vw;
        --nav-h: calc(100vh - var(--header-h));
        --nav-w: 33vw;
        --main-h: 100vh;
        --main-w: calc(100vw - var(--nav-w));
    }
    #app-container{
        display: grid;
        box-sizing: border-box;
        grid-template-rows: var(--header-h) var(--nav-h);
        grid-template-columns: var(--header-w) var(--main-w);
    }    
}

/* MEDIUM LANDSCAPE(HORIZONTAL) > MODEL 4 *****************************************************/
@media screen and (min-height: 481px) and (max-width: 1024px) and (orientation: landscape){
    :root{
        --header-h: 10vh;
        --nav-w: max(30vw);
        --main-h: calc(100vh - var(--header-h));
        --main-w: calc(100vw - var(--nav-w));
    }
    #app-container{
        display: grid;
        box-sizing: border-box;
        grid-template-rows: var(--header-h) var(--main-h);
        grid-template-columns: var(--nav-w) var(--main-w); 
    }    
}

/* BIG LANDSCAPE > MODEL 5 ********************************************************************/
@media screen and (min-height: 481px) and (min-width: 1025px) and (orientation: landscape){
    :root{
        --header-h: 10vh;
        --nav-w: 25vw;
        --main-h: calc(100vh - var(--header-h));
        --main-w: calc(100vw - var(--nav-w));
    }
    #app-container{
        display: grid;
        box-sizing: border-box;
        grid-template-rows: var(--header-h) var(--main-h);
        grid-template-columns: var(--nav-w) var(--main-w);
    }    
}
